[submodule "cal-korea-x"]
	path = cal-korea-x
	url = https://github.com/cinsk/cal-korea-x.git
[submodule "vim-modeline"]
	path = vim-modeline
	url = https://github.com/cinsk/emacs-vim-modeline.git
[submodule "filladapt"]
	path = filladapt
	url = https://github.com/cinsk/filladapt.git
[submodule "package"]
	path = package
	url = https://github.com/technomancy/package.el
