# Files that GIT should ignore
# See gitignore(5) for the format of this file

# tramp -- Tramp connection history
/tramp
# generated etags file(s)
/TAGS*
# auto-saves 
auto-save-list/
# untested schemas
/schema/xmpp/

# all schemas
/schema

# packages installed by package.el
elpa
# packages installed manually
site-lisp
*~
*.elc
/unmaintained
/abbrev_defs
/w3m
/packages
